### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### Node / Next.js
node_modules/
**/node_modules/
.next/
**/.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Environment
.env
.env.local
.env.*.local
